.counter-container {
    text-align: center;
    padding: 20px;
    background: white;
    width:70%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 15px;
  }
  
  
  button:hover {
    background-color: #0056b3;
  }