.main-container {
  background:linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    width: 100%;
    max-width: 900px;
    padding: 1.5rem;
    margin: 1rem 0;
    border-radius: 10px;
    box-shadow: -9px 18px 8px rgba(0, 0, 0,0.3);
    filter: blur(1.6);
  }
  .main-container:hover{
    scale: 1.03;
    transition: 0.5s;
  }
  
  .main-container h1 {
    font-size: 1.5rem;
    color: #222;
    margin-bottom: 1rem;
  }
  
  .children {
    font-size: 1rem;
    color: #444;
    line-height: 1.6;
  }
  
  @media (min-width: 768px) {
    .main-container h1 {
      font-size: 1.8rem;
    }
  }